

<div class="container">
    <mat-grid-list cols="2" rowHeight="1:0.5">

        <mat-grid-tile-header colspan="2">
            <h2>Personal Development Page</h2>
        </mat-grid-tile-header>

        <mat-grid-tile colspan="2">
            <span>selector component</span>
        </mat-grid-tile>

        <mat-grid-tile colspan="2">
            <div style="min-width: 100%;">
                <mat-grid-list cols="3">
                    <mat-grid-tile id="Short Term Goals">
                      <div>
                        <body>Short Term Goals</body>
                        <mat-form-field>
                          <textarea matInput></textarea>
                        </mat-form-field>
                      </div>
                    </mat-grid-tile>

                    <mat-grid-tile id="Midterm Goals">
                      <div width>
                        <body>Mid-Term Goals (2-3 years)</body>
                        <mat-form-field>
                          <textarea matInput></textarea>
                        </mat-form-field>
                      </div>
                    </mat-grid-tile>

                    <mat-grid-tile id="Long Term Goals">
                      <div>
                        <body>Long Term Goals (5 years)</body>
                        <mat-form-field>
                          <textarea matInput></textarea>
                        </mat-form-field>
                      </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </mat-grid-tile>


        <mat-grid-tile id="Development Needs">
          <div>
            <body>Development Needs</body>
            <mat-form-field>
              <textarea matInput></textarea>
            </mat-form-field>
          </div>
        </mat-grid-tile>

        <mat-grid-tile id="Action Plan">
          <div>
            <body>Action Plan</body>
            <mat-form-field>
              <textarea matInput></textarea>
            </mat-form-field>
          </div>

        </mat-grid-tile>

        <mat-grid-tile colspan="2">
            <div style="min-width: 80%;">
                <mat-grid-list cols="4" rowHeight="1:0.5">
                    <mat-grid-tile> Employee Signature </mat-grid-tile>
                    <mat-grid-tile> Date Signed </mat-grid-tile>
                    <mat-grid-tile> Supervisor Signature </mat-grid-tile>
                    <mat-grid-tile> Date Signed </mat-grid-tile>
                </mat-grid-list>
            </div>
        </mat-grid-tile>

        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile style="float: right;">
            <div style="min-width: 80%;">
                <mat-grid-list cols="2" rowHeight="1:0.25">
                    <mat-grid-tile></mat-grid-tile>
                    <mat-grid-tile>
                        <button mat-flat-button color="primary">Export</button>
                        <button mat-flat-button>Save</button>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </mat-grid-tile>


    </mat-grid-list>
</div>

