<div style="padding-bottom: 1em;">
  <mat-card>

    <mat-card-header>
      <mat-card-title>
        <h1>Employee Development</h1>
      </mat-card-title>

    </mat-card-header>

      <mat-tab-group>
        <mat-tab label="Personal Development Page">
          <pdpage></pdpage>
        </mat-tab>

        <mat-tab label="Self Assessment">
          Content 2
        </mat-tab>

        <mat-tab label="Performance Evaluation">
          Content 3
        </mat-tab>

      </mat-tab-group>

      <span style="padding-top: 3em; min-width: 80%;"></span>

  </mat-card>
</div>