<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>Employee Development</h1>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      Simple card
    </mat-card-content>
  </mat-card>
<header></header>
<div class="page-content">	
	<div class="tabbed">
		<input type="radio" id="tab1" name="css-tabs" checked>
		<input type="radio" id="tab2" name="css-tabs">
		<input type="radio" id="tab3" name="css-tabs">
		
		<ul class="tabs">
			<li class="tab"><label for="tab1">Personal Development Plan</label></li>
			<li class="tab"><label for="tab2">Self Assessment</label></li>
			<li class="tab"><label for="tab3">Personal Evaluation</label></li>
		</ul>
		
		<div class="tab-content">
			<h4>Personal Development Plan</h4>
		</div>
		
		<div class="tab-content">
			<h4>Self Assessment</h4>
		</div>
		
		<div class="tab-content">
			<h4>Personal Evaluation</h4>
		</div>
	</div>
</div>
