.box {
  display: flex;
justify-content: center;
align-items: center;
  float:left;
  width: 100%;
  span{
    float: left;
    margin: 0 5px;
  }
}

h2 {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.sbox {
    float:left;
    width: 20%;
    padding-left: 20px;
}

.signature {
    justify-content: center;
    display: flex;
}


