<!--Date needs to be saved as YYYY-MM-DD-->
<div class="container">
            <h2>Personal Development Plan</h2>
<div style="margin: 20px;">
    <section> <!--View Year, Delete Button, Add New Button-->
      <span><app-select></app-select></span>
    </section>  <div style="clear:both;">&nbsp;</div>


      <section class="box"> <!--Name, Date Completed, 6-month check in-->
        <div style="float:inline-start">
          <mat-label>Employee Name</mat-label>
          <mat-form-field class="textinput">
            <input matInput>
          </mat-form-field>
        </div>

        <div style="float:inline-start">
          <mat-label>Date Completed         </mat-label>
          <mat-form-field appearance="fill"  style="outline: none">
            <input matInput [matDatepicker]="completed" placeholder="MM/DD/YYYY">
            <mat-datepicker-toggle matIconSuffix [for]="completed"></mat-datepicker-toggle>
            <mat-datepicker #completed></mat-datepicker>
          </mat-form-field>

        </div>

        <div style="float:inline-start">
          <mat-label>6-Month Check-In         </mat-label>
          <mat-form-field appearance="fill" style="outline: none">
            <input matInput [matDatepicker]="checkin" placeholder="MM/DD/YYYY">
            <mat-datepicker-toggle matIconSuffix [for]="checkin"></mat-datepicker-toggle>
            <mat-datepicker #checkin></mat-datepicker>
          </mat-form-field>
        </div>

      </section>  <div style="clear:both;">&nbsp;</div>


      <section> <!--Goals-->
        <div style="display: flex; align-items: center;">
          <div class="textbox" style="float:inline-start">
            <mat-label>Short Term Goals</mat-label>
            <mat-form-field subscriptSizing="dynamic">
              <textarea matInput></textarea>
            </mat-form-field>
          </div>


            <div class="textbox" style="float:inline-start">
              <mat-label>Mid-Term Goals (2-3 years)</mat-label>
              <mat-form-field subscriptSizing="dynamic">
                <textarea matInput></textarea>
              </mat-form-field>
            </div>

            <div class="textbox" style="float:inline-start">
              <mat-label>Long Term Goals (5 years)</mat-label>
              <mat-form-field subscriptSizing="dynamic">
                <textarea matInput></textarea>
              </mat-form-field>
            </div>
        </div>

      </section>  <div style="clear:both;">&nbsp;</div>


      <section> <!--Dev Needs, Action Plan-->
        <div class="textbox" style="float: inline-start">
          <mat-label>Development Needs</mat-label>
          <mat-form-field subscriptSizing="dynamic">
            <textarea matInput></textarea>
          </mat-form-field>
        </div>

        <div class="textbox" style="float: inline-start">
          <mat-label>Action Plan             </mat-label>
          <mat-form-field subscriptSizing="dynamic">
            <textarea matInput></textarea>
          </mat-form-field>
        </div>

      </section>  <div style="clear:both;">&nbsp;</div>


  <section><!--Signatures and dates-->
    <div class="textbox" style="float:inline-start">
      <mat-label>Employee Signature</mat-label>
      <mat-form-field subscriptSizing="dynamic">
        <input matInput>
      </mat-form-field>
    </div>

    <div class="textbox" style="float:inline-start">
        <mat-label>Date Signed</mat-label>
        <mat-form-field appearance="fill"  style="outline: none">
          <input matInput [matDatepicker]="employeeDate" placeholder="MM/DD/YYYY">
          <mat-datepicker-toggle matIconSuffix [for]="employeeDate"></mat-datepicker-toggle>
          <mat-datepicker #employeeDate></mat-datepicker>
        </mat-form-field>
    </div>

    <div class="textbox" style="float:inline-start">
      <mat-label>Supervisor Signature</mat-label>
      <mat-form-field subscriptSizing="dynamic">
        <input matInput>
      </mat-form-field>
    </div>

    <div class="textbox" style="float:inline-start">
      <mat-label>Date Signed</mat-label>
      <mat-form-field appearance="fill" style="outline: none">
        <input matInput [matDatepicker]="supervisorDate" placeholder="MM/DD/YYYY">
        <mat-datepicker-toggle matIconSuffix [for]="supervisorDate"></mat-datepicker-toggle>
        <mat-datepicker #supervisorDate></mat-datepicker>
      </mat-form-field>
    </div>


  </section>  <div style="clear:both;">&nbsp;</div>



  <section> <!--Export and Save buttons-->
    <div style="float:inline-end">
      <button mat-flat-button color="primary">Export</button>
      <button mat-flat-button>Save</button>
    </div>

  </section>  <div style="clear:both;">&nbsp;</div>

</div>
</div>
