.box {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

h2 {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}


.textbox {
    width: auto;
    padding: 5px;


    mat-label{
        font-size: small;
        color: grey;
    }

    mat-form-field {
        width: 90%;
        height: fit-content;
        max-height: 9em;
        outline: 1px solid black;

        textarea{
            max-height: 99px;
            min-height: 50px;
        }


    }

    }



