<div class="container">
  <h2 style="text-align: center;">Performance Evaluation</h2>

  <section><!--View Year and export to pdf-->
    <span><app-select></app-select></span>
    <span><app-export></app-export></span>
  </section><div style="clear:both;">&nbsp;</div>

  <section> <!--Employee name, Supervisor name, date completed-->
    <div class="box" style="justify-content: left;">
      <span>
        <mat-label>Employee Name</mat-label> <br>
        <mat-form-field class="textinput">
          <input matInput>
        </mat-form-field>
      </span>
      <span>
        <mat-label>Supervisor Name</mat-label> <br>
        <mat-form-field class="textinput">
          <input matInput>
        </mat-form-field>
      </span>
      <span>
        <mat-label>Date Completed</mat-label> <br>
        <mat-form-field class="textinput">
          <input matInput>
        </mat-form-field>
      </span>
    </div>
  </section>

  <div style="clear:both;">&nbsp;</div>

  <section> <!--Communication, Collaboration and Teamwork-->
    <div class="box" style="justify-content: left;">
    <span>
      <span>
        <h4>Communication</h4>
        <span>
          <mat-label>Rating</mat-label><br>
          <input matInput placeholder="Rating needed">
        </span>
        <span>
          <mat-label>Feedback</mat-label><br>
          <input matInput placeholder="Feedback goes here">
        </span>
      </span>
    </span>

    <span>
      <h4>Collaboration and Teamwork</h4>
      <span>
        <mat-label>Rating</mat-label><br>
        <input matInput placeholder="Rating needed">
      </span>
      <span>
        <mat-label>Feedback</mat-label><br>
        <input matInput placeholder="Feedback goes here">
      </span>
    </span>
    </div>
  </section><div style="clear:both;">&nbsp;</div>

  <section> <!--Quality and Accuracy of Work & Attendance-->
    <div class="box" style="justify-content: left;">
      <span>
        <span>
          <h4>Quality and Accuracy of Work</h4>
          <span>
            <mat-label>Rating</mat-label><br>
            <input matInput placeholder="Rating needed">
          </span>
          <span>
            <mat-label>Feedback</mat-label><br>
            <input matInput placeholder="Feedback goes here">
          </span>
        </span>
      </span>

      <span>
        <span>
          <h4>Attendance, Punctuality, Reliability</h4>
          <span>
            <mat-label>Rating</mat-label><br>
            <input matInput placeholder="Rating needed">
          </span>
          <span>
            <mat-label>Feedback</mat-label><br>
            <input matInput placeholder="Feedback goes here">
          </span>
        </span>
      </span>
      </div>
  </section><div style="clear:both;">&nbsp;</div>

  <section><!--Goal Accomplishment and Deadline Timeliness-->
    <div class="box" style="justify-content: left;">
      <span>
        <span>
          <h4>Goal Acccomplishment and Deadline Timeliness</h4>
          <span>
            <mat-label>Rating</mat-label><br>
            <input matInput placeholder="Rating needed">
          </span>
          <span>
            <mat-label>Feedback</mat-label><br>
            <input matInput placeholder="Feedback goes here">
          </span>
        </span>
      </span>
    </div>

  </section><div style="clear:both;">&nbsp;</div>


</div>
