<div class="container">
  <h2>Performance Evaluation</h2>

  <section><!--View Year and export to pdf-->
    <span><app-select></app-select></span>
  </section><div style="clear:both;">&nbsp;</div>

  <section> <!--Employee name, Supervisor name, date completed-->
    <div style="float:inline-start">
      <mat-label>Employee Name</mat-label>
      <mat-form-field class="textinput">
        <input matInput>
      </mat-form-field>
    </div>
    <div style="float:inline-start">
      <mat-label>Supervisor Name</mat-label>
      <mat-form-field class="textinput">
        <input matInput>
      </mat-form-field>
    </div>
    <div style="float:inline-start">
      <mat-label>Date Completed</mat-label>
      <mat-form-field class="textinput">
        <input matInput>
      </mat-form-field>
    </div>
  </section><div style="clear:both;">&nbsp;</div>

  <section> <!--Communication, Collaboration and Teamwork-->
    <div style="float: inline-start;">
      <h4>Communication</h4>
      <div style="float: inline-start;">
        <mat-label>Rating</mat-label>
        <input matInput>
      </div>
      <div style="float: inline-start;">
        <mat-label>Feedback</mat-label>
        <input matInput>
      </div>
    </div>

    <div style="float: inline-start">
      <h4>Collaboration and Teamwork</h4>
      <div style="float: inline-start;">
        <mat-label>Rating</mat-label>
        <input matInput>
      </div>
      <div style="float: inline-start;">
        <mat-label>Feedback</mat-label>
        <input matInput>
      </div>
    </div>
  </section><div style="clear:both;">&nbsp;</div>

  <section> <!--Quality and Accuracy of Work & Attendance-->
    <div style="float: inline-start">
      <h4>Quality and Accuracy of Work</h4>
      <div style="float: inline-start;">
        <mat-label>Rating</mat-label>
        <input matInput>
      </div>
      <div style="float: inline-start;">
        <mat-label>Feedback</mat-label>
        <input matInput>
      </div>
    </div>


    <div style="float: inline-start">
      <h4>Attendance, Punctuality, and Reliability</h4>
      <div style="float: inline-start;">
        <mat-label>Rating</mat-label>
        <input matInput>
      </div>
      <div style="float: inline-start;">
        <mat-label>Feedback</mat-label>
        <input matInput>
      </div>
    </div>

  </section><div style="clear:both;">&nbsp;</div>

  <section><!--Goal Accomplishment and Deadline Timeliness-->
    <h4>Goal Accomplishment and Deadline Timeliness</h4>
    <div style="float: inline-start;">
      <mat-label>Rating</mat-label>
      <input matInput>
    </div>
    <div style="float: inline-start;">
      <mat-label>Feedback</mat-label>
      <input matInput>
    </div>
  </section><div style="clear:both;">&nbsp;</div>


</div>
