<div class="container">
  <h2>Self Assessment</h2>

  <section><!--View year, delete button, add new button-->
    <app-select></app-select>
  </section>
  <section> <!--Employee name and date-->
      <div style="float:inline-start">
        <mat-label>Employee Name</mat-label>
        <mat-form-field class="textinput">
          <input matInput>
        </mat-form-field>
      </div>
      <div style="float:inline-start">
        <mat-label>Date Completed         </mat-label>
        <mat-form-field appearance="fill"  style="outline: none">
          <input matInput [matDatepicker]="completed" placeholder="MM/DD/YYYY">
          <mat-datepicker-toggle matIconSuffix [for]="completed"></mat-datepicker-toggle>
          <mat-datepicker #completed></mat-datepicker>
        </mat-form-field>

      </div>
    </section>

  <div style="clear:both;">&nbsp;</div>

  <div class="textbox" id="accomplishments" > <!--Accomplishments-->
    <mat-label>List three accomplishments you had for the year.</mat-label>
    <ul>
      <li><mat-form-field [style.width.%]="100" subscriptSizing="dynamic"><textarea matInput></textarea></mat-form-field></li>
      <li><mat-form-field [style.width.%]="100" subscriptSizing="dynamic"><textarea matInput></textarea></mat-form-field></li>
      <li><mat-form-field [style.width.%]="100" subscriptSizing="dynamic"><textarea matInput></textarea></mat-form-field></li>
    </ul>
  </div>

  <div style="clear:both;">&nbsp;</div>

<section><!--Biggest takeaway, hard task-->

</section><div style="clear:both;">&nbsp;</div>

<section><!--Improve performance, actions needed-->

</section><div style="clear:both;">&nbsp;</div>


<section><!--Barriers, metrics/milestones-->

</section><div style="clear:both;">&nbsp;</div>

<section><!--Held accountable-->

</section><div style="clear:both;">&nbsp;</div>

<section><!--Examples-->

</section><div style="clear:both;">&nbsp;</div>

<section><!--Main goal, hope to learn-->

</section><div style="clear:both;">&nbsp;</div>

<section><!--Leadership team improve, feedback-->

</section><div style="clear:both;">&nbsp;</div>

<section><!--Export and save buttons-->

</section><div style="clear:both;">&nbsp;</div>

</div>
