<div class="container">
  <section>
    <div style="float:inline-start">
      <mat-label>Employee Name</mat-label> <br>
      <mat-form-field class="textinput">
        <input matInput>
      </mat-form-field>
    </div>

    <div style="float:inline-start">
      <mat-label>Date Completed </mat-label>
      <input [matDatepicker]="picker3" placeholder="MM/DD/YYYY">
      <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
    </div>
  </section>

  <div style="clear:both;">&nbsp;</div>

  <div class="textbox" id="accomplishments">
    <mat-label>List three accomplishments you had for the year.</mat-label>
    <ul>
      <li><mat-form-field [style.width.%]="100" subscriptSizing="dynamic"><textarea matInput></textarea></mat-form-field></li>
      <li><mat-form-field [style.width.%]="100" subscriptSizing="dynamic"><textarea matInput></textarea></mat-form-field></li>
      <li><mat-form-field [style.width.%]="100" subscriptSizing="dynamic"><textarea matInput></textarea></mat-form-field></li>
    </ul>
  </div>

  <div style="clear:both;">&nbsp;</div>


</div>