
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import './material/tabheader.scss';

@include custom-tabs-theme();

$The-Team_SP23-primary: mat.define-palette(mat.$amber-palette);
$The-Team_SP23-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$The-Team_SP23-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$The-Team_SP23-theme: mat.define-light-theme((
  color: (
    primary: $The-Team_SP23-primary,
    accent: $The-Team_SP23-accent,
    warn: $The-Team_SP23-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($The-Team_SP23-theme);