/*html {
    background-color: orange; /* fallback color
    background-image: linear-gradient( to bottom right, #fbd333, #ef9d33);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
*/

/* .mat-mdc-form-field {
    width: 110px;
    height: 65px;
    border-radius: 0px;
}

.mat-mdc-text-field-wrapper {
    border: 1px solid #000000;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white;
    padding-left: 7px;
    padding-right: 7px;
}

.mdc-text-field {
    border-radius: 0 !important;
} */


