@use "@angular/material" as mat;

@mixin page-container() {
  .container {
    border: grey solid 1px;
    padding: 0px 10px 5px 10px;
    width: 90%;
  }
  .ng-star-inserted {
    justify-content: center;
    display: flex;
  }
}

@mixin html-theme() {
  html {
    background-color: orange; /* fallback color */
    background-image: linear-gradient(to bottom right, #fbd333, #ef9d33);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
  }

  body {
    margin: 0px;
  }
}

@mixin textboxes() {
  .textbox {
    width: 99.9%;
    padding: 5px;
  
    mat-label{
        font-size: medium;
        color: grey;
    }
  
    mat-form-field{
        width: 100%;
        max-height: 9em;
        outline: 1px solid black;
  
        textarea{
          display: block;
            max-height: 99px;
            min-height: 70px;
        }
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
      background-color: white;
      width:99.9%
    }
  }
}