.add {
    background-color: #ef9d33;
    color: white;
    display: inline-block;
    border-color: transparent;
    border-radius: 50px;
    font-size: small;
    font-weight: bold;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    transition-duration: 0.4s;
}

.add:hover {
    background-color: white;
    border: 2px solid #ef9d33;
    color: #ef9d33;
}